@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Reset for Dark Mode */
body {
  background-color: #0B0D17;
  color: #ffffff;
  font-family: 'Outfit', sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar (Optional but looks cool) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0B0D17;
}
::-webkit-scrollbar-thumb {
  background: #15192B; 
  border-radius: 4px;
}